body {
    margin: 0 auto;
    color: yellow;
}

h1 {
    size: 900px;
}
.main {
    text-align: center;
    font-size: 70px;
}
.topnav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.topnav a{
    border: 2px solid black;
    margin: auto center;
    padding: 3px; 
    background-color: black;
    color: yellow;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background-color: black;
}
    
.chunk {
    background-image: url(../images/barberpic1.avif);
    background-repeat: no-repeat;
    font-size: 60px;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 800px;

}

.spread {
    background-color: blue;

}

.socials {
    background-color: red;
}
.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "main"
      "topnav"
      "chunk"
      "spread"
      "socials";
  }
  
  .main { grid-area: main; }
  
  .chunk { grid-area: chunk; }
  
  .spread { grid-area: spread; }
  
  .socials { grid-area: socials; }


  